---
styles: true
---

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,400i,500,500i,700,700i&subset=latin-ext');

// Variables
$font-family:           "Fira Sans Condensed", "Open Sans", Roboto, "Helvetica Neue", Arial;
$color-background:      #fafafb; // #fff; // #EDEFF0
$color-heading:         #121212;
$color-subheading:      #2D2D2D;
$color-paragraph:       #0F0C0C;
$color-footnote:        #464646;

$logo-size:             150px;
$top-space:             30px;
$side-width:            200px;
$border-color:          #e6eaee;
$contrast-color:        darken($border-color, 3%);
$spacing:               30px;
$title-font-size:       1.2rem;
$icon-size:             $title-font-size * 1.15;


html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    font-family: $font-family;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.3rem;
    color: $color-paragraph;
}

body {
    min-height: 100%;
    background: $color-background;
    // padding: 20px;
    position: relative;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, a {
    margin-top: 0;
    font-weight: 400;
}

h1 {
    font-size: 2.1rem;
    line-height: 2.1rem;
    margin-bottom: .45rem;
    color: $color-heading;
}

h2 {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
    color: $color-subheading;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: .7rem;
    color: $color-footnote;
    font-weight: 300;
}

img {
    // max-width: 100%;
    height: auto;
    border: 0;
}

p {
    margin-top: 0;
}

a {
    font-weight: 500;
    color: #495163;
    text-decoration: none;
    &:hover {
        color: #E24A88;
    }
}

.icon {
    width: $icon-size;
    height: $icon-size;
    vertical-align: middle;
    margin-left: 5px;
    opacity: 0.4;

    fill: darken($border-color, 20%);

    &.sm {
        width: $icon-size * 0.87;
        height: $icon-size * 0.87;
    }

    &:hover {
        opacity: 1;
        fill: #565f75;
    }
}

img.logo {
    display: block;
    // position: absolute;
    width: $logo-size;
    height: auto;
}

.page-header {
    display: table;
    margin-top: $spacing;
    margin-bottom: $spacing * 1.5;
    margin-left: $side-width - ($logo-size / 2);
    z-index: 9;

    .page-logo {
        display: table-cell;
    }
    .page-title {
        display: table-cell;
        vertical-align: middle;
        font-size: 1.8em;
        font-weight: 400;
        font-style: italic;
        line-height: 35px;
        color: #3d4454;
        padding-right: $spacing;

        & > span {
            display: inline-block;
            margin-left: $spacing;
        }
    }
}

.circle {
    $circle-size: 10px;
    $circle-border: 2px;
    display: block;
    position: absolute;
    border-radius: $circle-size / 2;
    width: $circle-size;
    height: $circle-size;
    background-color: $border-color;
    margin-left: $side-width - ($circle-size / 2) - ($circle-border / 2);
    margin-top: ($title-font-size / 3);
    border: $circle-border solid darken($contrast-color, 2%);
}

.side-bg {
    display: block;
    position: fixed;
    z-index: -1;
    background: $border-color;
    border-right: 2px solid $contrast-color;
    width: $side-width;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.content {
    z-index: 9;
}

.repo {
    position: relative;
    margin-bottom: $spacing;

    $margin-fix: 20px;
    width: 100%;
    padding-right: $spacing;

    & .repo-header {
        display: table;
        position: relative;
        white-space: nowrap;
        margin-bottom: 7px;

        & .repo-btns {
            display: table-cell;
            width: $side-width - $margin-fix;
            text-align: right;
        }
        & .repo-title {
            display: table-cell;
            font-family: $font-family;
            font-size: $title-font-size;

            & > a {
                display: inline-block;
                margin-left: $spacing + $margin-fix;
            }
        }
    }
    .repo-desc {
        display: inline-block;
        font-style: italic;
        margin-left: $side-width + $spacing;

        background: #fff;
        // box-shadow: 0 0px 1px 0 rgba(0,0,0,0.15);
        border: 1px solid $border-color;
        padding: 17px 22px;
        width: auto;
        min-width: 400px;
        overflow: hidden;
        border-radius: 4px;
    }
}

.pointer {
    cursor: pointer;
}


@media (max-width: 768px) {
    $logo-size:             120px;

    html {
        font-size: 15px;
        line-height: 1.4rem;
    }

    img.logo {
        width: $logo-size;
    }

    .page-header {
        margin-left: $spacing;
    }

    .circle {
        display: none;
    }

    .repo {

        & .repo-header {
            .repo-btns {
                display: none;
                visibility: hidden;
                width: 0;
            }

            .repo-title a {
                margin-left: $spacing;
            }
        }

        & .repo-desc {
            margin-left: $spacing;
        }
    }

    .side-bg {
        display: none;
    }

    .page-title {
        font-size: 1em;
    }
}
