<div id="repos">
        {% for repo in site.github.public_repositories limit:50 %}

            {% assign project = site.data.projects[repo.name] %}

            {% if repo.fork != true and project.hidden != true %}
            <div class="repo">

                <div class="circle"></div>
                <div class="repo-header">

                    <div class="repo-btns">
                        {% unless repo.homepage == '' or repo.homepage == nil %}
                        <a href="{{ repo.html_url }}">
                            <svg class="icon" role="img" title="Documentation">
                                <use xlink:href="img/icons.svg#book" />
                            </svg>
                        </a>
                        {% endunless %}

                        {% unless project.npm == false %}
                        <a href="https://npmjs.com/package/{% unless project.npm == nil %}{{ project.npm }}{% else %}{{ repo.name }}{% endunless %}">
                            <svg class="icon sm" role="img" title="npm">
                                <use xlink:href="img/icons.svg#npm" />
                            </svg>
                        </a>
                        {% endunless %}

                        <a href="{{ repo.html_url }}">
                            <svg class="icon" role="img" title="GitHub">
                                <use xlink:href="img/icons.svg#github" />
                            </svg>
                        </a>
                    </div>
                    <div class="repo-title">
                        <a href="{% if repo.homepage == '' or repo.homepage == nil %}{{ repo.html_url }}{% else %}{{ repo.homepage }}{% endif %}">
                            {{ repo.name }}
                        </a>
                    </div>
                </div>
                <span class="repo-desc">{{ repo.description }}</span>
            </div>
            {% endif %}

        {% endfor %}
        </div>

