@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");
.inline-block {
  display: inline-block;
}
.no-margin {
  margin: 0;
}
.space-left-sm {
  margin-left: 15px;
}
.space-left,
.space-left-md {
  margin-left: 25px;
}
.pad-left-sm {
  padding-left: 15px;
}
.pad-left,
.pad-left-md {
  padding-left: 25px;
}
.pad-bottom-sm {
  padding-bottom: 15px;
}
.vertical-middle {
  vertical-align: middle;
}
.pointer {
  cursor: pointer !important;
}
.color-white {
  color: #fff !important;
}
.color-black {
  color: #000 !important;
}
.color-primary,
.color-blue {
  color: rgba(77, 156, 238, 0.8) !important;
}
.color-accent {
  color: #3875ee !important;
}
.color-info,
.color-cyan {
  color: rgba(91, 192, 222, 0.8) !important;
}
.color-success,
.color-green {
  color: rgba(92, 184, 92, 0.8) !important;
}
.color-warning,
.color-yellow {
  color: rgba(240, 173, 78, 0.92) !important;
}
.color-danger,
.color-red {
  color: rgba(217, 83, 79, 0.8) !important;
}
.color-purple {
  color: #996599 !important;
}
.color-orange {
  color: #d16e43 !important;
}
.color-light {
  color: #aaafbd !important;
}
.color-pink {
  color: #ff6fbc !important;
}
.color-brown {
  color: #80460f !important;
}
.color-gray-base {
  color: #17191e !important;
}
.color-gray-darkest {
  color: #292c35 !important;
}
.color-gray-darker {
  color: #383d49 !important;
}
.color-gray-dark {
  color: #596175 !important;
}
.color-gray {
  color: #7e879c !important;
}
.color-gray-light {
  color: #aaafbd !important;
}
.color-gray-lighter {
  color: #e3e5ea !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-black {
  background-color: #000 !important;
}
.bg-primary,
.bg-blue {
  background-color: rgba(77, 156, 238, 0.8) !important;
}
.bg-accent {
  background-color: #3875ee !important;
}
.bg-info,
.bg-cyan {
  background-color: rgba(91, 192, 222, 0.8) !important;
}
.bg-success,
.bg-green {
  background-color: rgba(92, 184, 92, 0.8) !important;
}
.bg-warning,
.bg-yellow {
  background-color: rgba(240, 173, 78, 0.92) !important;
}
.bg-danger,
.bg-red {
  background-color: rgba(217, 83, 79, 0.8) !important;
}
.bg-purple {
  background-color: #996599 !important;
}
.bg-pink {
  background-color: #ff6fbc !important;
}
.bg-orange {
  background-color: #ef8a23 !important;
}
.bg-light {
  background-color: #aaafbd !important;
}
.bg-ice {
  background-color: #9cbed3 !important;
}
.bg-ice-mid {
  background-color: #9aaec3 !important;
}
.bg-ice-dark {
  background-color: #788EA3 !important;
}
.bg-ygreen {
  background-color: #7ea35b !important;
}
.bg-gray {
  background-color: #7e879c !important;
}
.bg-gray-dark {
  background-color: #596175 !important;
}
.bg-gray-darker {
  background-color: #383d49 !important;
}
.opacity-full {
  opacity: 1;
}
.opacity-xl {
  opacity: 0.8;
}
.opacity-lg {
  opacity: 0.65;
}
.opacity-md {
  opacity: 0.5;
}
.opacity-sm {
  opacity: 0.3;
}
.opacity-xs {
  opacity: 0.1;
}
.space-bottom-xs {
  margin-bottom: 5px !important;
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers (opinionated).
   */
body {
  margin: 0;
}
/**
   * Add the correct display in IE 9-.
   */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
   * Add the correct margin in IE 8.
   */
figure {
  margin: 1em 40px;
}
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
     ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
b,
strong {
  font-weight: inherit;
}
/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}
/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
   * Add the correct font style in Android 4.3-.
   */
dfn {
  font-style: italic;
}
/**
   * Add the correct background and color in IE 9-.
   */
mark {
  background-color: #ff0;
  color: #000;
}
/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}
/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block;
}
/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none;
}
/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
  overflow: auto;
}
/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
     ========================================================================== */
/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */
details,
menu {
  display: block;
}
/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}
/* Scripting
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block;
}
/**
   * Add the correct display in IE.
   */
template {
  display: none;
}
/* Hidden
     ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\002a";
}
.glyphicon-plus:before {
  content: "\002b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
.glyphicon-cd:before {
  content: "\e201";
}
.glyphicon-save-file:before {
  content: "\e202";
}
.glyphicon-open-file:before {
  content: "\e203";
}
.glyphicon-level-up:before {
  content: "\e204";
}
.glyphicon-copy:before {
  content: "\e205";
}
.glyphicon-paste:before {
  content: "\e206";
}
.glyphicon-alert:before {
  content: "\e209";
}
.glyphicon-equalizer:before {
  content: "\e210";
}
.glyphicon-king:before {
  content: "\e211";
}
.glyphicon-queen:before {
  content: "\e212";
}
.glyphicon-pawn:before {
  content: "\e213";
}
.glyphicon-bishop:before {
  content: "\e214";
}
.glyphicon-knight:before {
  content: "\e215";
}
.glyphicon-baby-formula:before {
  content: "\e216";
}
.glyphicon-tent:before {
  content: "\26fa";
}
.glyphicon-blackboard:before {
  content: "\e218";
}
.glyphicon-bed:before {
  content: "\e219";
}
.glyphicon-apple:before {
  content: "\f8ff";
}
.glyphicon-erase:before {
  content: "\e221";
}
.glyphicon-hourglass:before {
  content: "\231b";
}
.glyphicon-lamp:before {
  content: "\e223";
}
.glyphicon-duplicate:before {
  content: "\e224";
}
.glyphicon-piggy-bank:before {
  content: "\e225";
}
.glyphicon-scissors:before {
  content: "\e226";
}
.glyphicon-bitcoin:before {
  content: "\e227";
}
.glyphicon-btc:before {
  content: "\e227";
}
.glyphicon-xbt:before {
  content: "\e227";
}
.glyphicon-yen:before {
  content: "\00a5";
}
.glyphicon-jpy:before {
  content: "\00a5";
}
.glyphicon-ruble:before {
  content: "\20bd";
}
.glyphicon-rub:before {
  content: "\20bd";
}
.glyphicon-scale:before {
  content: "\e230";
}
.glyphicon-ice-lolly:before {
  content: "\e231";
}
.glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}
.glyphicon-education:before {
  content: "\e233";
}
.glyphicon-option-horizontal:before {
  content: "\e234";
}
.glyphicon-option-vertical:before {
  content: "\e235";
}
.glyphicon-menu-hamburger:before {
  content: "\e236";
}
.glyphicon-modal-window:before {
  content: "\e237";
}
.glyphicon-oil:before {
  content: "\e238";
}
.glyphicon-grain:before {
  content: "\e239";
}
.glyphicon-sunglasses:before {
  content: "\e240";
}
.glyphicon-text-size:before {
  content: "\e241";
}
.glyphicon-text-color:before {
  content: "\e242";
}
.glyphicon-text-background:before {
  content: "\e243";
}
.glyphicon-object-align-top:before {
  content: "\e244";
}
.glyphicon-object-align-bottom:before {
  content: "\e245";
}
.glyphicon-object-align-horizontal:before {
  content: "\e246";
}
.glyphicon-object-align-left:before {
  content: "\e247";
}
.glyphicon-object-align-vertical:before {
  content: "\e248";
}
.glyphicon-object-align-right:before {
  content: "\e249";
}
.glyphicon-triangle-right:before {
  content: "\e250";
}
.glyphicon-triangle-left:before {
  content: "\e251";
}
.glyphicon-triangle-bottom:before {
  content: "\e252";
}
.glyphicon-triangle-top:before {
  content: "\e253";
}
.glyphicon-console:before {
  content: "\e254";
}
.glyphicon-superscript:before {
  content: "\e255";
}
.glyphicon-subscript:before {
  content: "\e256";
}
.glyphicon-menu-left:before {
  content: "\e257";
}
.glyphicon-menu-right:before {
  content: "\e258";
}
.glyphicon-menu-down:before {
  content: "\e259";
}
.glyphicon-menu-up:before {
  content: "\e260";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #aaafbd;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 24px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #e1e7ea;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #e1e7ea;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #e1e7ea;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #e1e7ea;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #e1e7ea;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f6f6f6;
}
.table-hover > tbody > tr:hover {
  background-color: #e1e7ea;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #e1e7ea;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #d2dbdf;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 869px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 18px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #e1e7ea;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
code,
kbd,
pre,
samp {
  font-family: "Fira Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
}
code {
  padding: 2px 4px;
  font-size: 82%;
  color: #17191e;
  background-color: #eef0f4;
  border-radius: 4px;
}
pre {
  display: block;
  padding: 0;
  margin: 0 0 12px;
  font-size: 16px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #596175;
  background-color: transparent;
  border: 0 none;
  border-radius: 4px;
  overflow: auto;
}
pre code {
  padding: 15px 25px !important;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
pre code.options {
  padding: 15px 25px 0 25px !important;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  box-shadow: none;
}
input[type=search]:-moz-placeholder {
  color: #8b93a6;
}
input[type=search]::-webkit-input-placeholder {
  color: #8b93a6;
}
.trans-all-ease-fast {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all .15s ease;
}
.trans-all-ease {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.symbol-memberof {
  display: inline-block;
  width: auto;
  max-width: 100px;
  overflow-x: hidden;
  vertical-align: middle;
}
.symbol-memberof.no-width {
  max-width: 0;
}
#sidebar-toggle {
  display: block;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  cursor: pointer;
}
#sidebar-toggle .glyphicon-menu-hamburger {
  color: #17191e;
  top: 4px;
  opacity: 0.6;
}
#sidebar-toggle:hover .glyphicon-menu-hamburger {
  opacity: 0.85;
}
#sidebar-toggle.toggled .glyphicon-menu-hamburger {
  color: #fff;
}
.sidebar-item .item-badge,
.badge-button .item-badge {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  top: 6px;
  opacity: 0.65;
}
.sidebar-item .item-badge div.badge-label,
.badge-button .item-badge div.badge-label {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 11px;
  line-height: 21px;
  text-indent: 0 !important;
  text-align: center;
}
.sidebar-item .item-badge div.badge-shape,
.badge-button .item-badge div.badge-shape {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #d5d8df;
}
.sidebar-item .item-badge div.badge-shape.square,
.badge-button .item-badge div.badge-shape.square {
  border-radius: 3px;
}
.sidebar-item .item-badge div.badge-shape.diamond,
.badge-button .item-badge div.badge-shape.diamond {
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sidebar-item .item-badge div.badge-shape.circle,
.badge-button .item-badge div.badge-shape.circle {
  border-radius: 20px;
}
.sidebar-item .item-label,
.badge-button .item-label {
  display: inline-block;
  text-indent: 0 !important;
  margin-left: 12px;
}
.sidebar-item .item-label span,
.badge-button .item-label span {
  display: inline-block;
  position: relative;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}
.sidebar-item:hover .item-badge,
.badge-button:hover .item-badge {
  opacity: 1;
}
.sidebar-header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 130px;
  background-color: #1e2128;
}
.sidebar-header > .sidebar-title {
  position: relative;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  background-color: #2b2e39;
}
.sidebar-header > .sidebar-title span {
  position: relative;
  display: inline-block;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  letter-spacing: 0.03em;
  margin-left: 50px;
  margin-top: 2px;
  color: #D6DBE7;
}
.sidebar-header > .sidebar-toolbar {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 3px;
}
.toolbar-buttons {
  margin-left: 7px;
  padding: 0;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.toolbar-buttons span {
  color: #fff;
  opacity: 0.5;
}
.toolbar-buttons span:hover {
  opacity: 1;
}
.toolbar-filters {
  margin: 0 10px;
  padding: 0;
  padding: 0 0 18px;
  position: relative;
  text-align: center;
}
.badge-button {
  display: inline-block;
  position: relative;
  margin-right: 7px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.3;
}
.badge-button.active {
  opacity: 1;
}
.badge-button:hover {
  opacity: 1;
}
.sidebar-search {
  margin: 0 20px;
  padding: 0;
  padding: 20px 0 18px;
  position: relative;
}
.sidebar-search #txt-search {
  font-size: 13.95px;
  margin-bottom: 0;
  border-radius: 36px;
  text-indent: 0 !important;
  padding-right: 25px;
  background-color: #242730;
  border-color: #2b2e39;
}
.sidebar-search #txt-search:focus {
  background-color: #fff;
}
.sidebar-search .sidebar-search-clean {
  position: absolute;
  top: 23px;
  right: 2px;
  border-radius: 36px;
  line-height: 36px;
  height: 90%;
  color: #8b93a6;
  margin: 0 0 -20px 0;
  z-index: 999;
  cursor: pointer;
  text-indent: 0 !important;
}
.sidebar-search .sidebar-search-clean span {
  display: inline-block;
  padding: 0 6px;
  top: 0;
}
.search-query:focus + button {
  z-index: 3;
}
.sidebar-nav-container {
  display: block;
  position: absolute;
  overflow-y: auto;
  top: 130px;
  bottom: 0;
  left: 0;
  right: 0;
}
ul.sidebar-nav {
  display: block;
  position: relative;
  overflow: visible;
  list-style: none;
  padding: 0 0 15px 0;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  white-space: nowrap;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #aaafbd;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #131519;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  outline: 0 none;
}
.sidebar-nav > .sidebar-brand {
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  background-color: #2b2e39;
}
.sidebar-nav > .sidebar-brand a {
  color: #8b93a6;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
#wrapper {
  display: block;
  position: relative;
  margin-left: 0;
}
#wrapper.toggled {
  margin-left: 280px;
}
#wrapper.toggled #sidebar-wrapper {
  display: block;
  width: 280px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -280px;
}
#sidebar-wrapper {
  position: fixed;
  display: block;
  width: 0;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  background-color: #1e2128;
  font-family: "Fira Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  z-index: 999999;
}
#page-content-wrapper {
  width: 100%;
  position: relative;
  background: #fff;
  margin-right: 0;
}
@media (max-width: 870px) {
  #sidebar-toggle {
    display: none;
  }
  #wrapper {
    margin-left: 0;
  }
  #wrapper.toggled {
    margin-left: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    position: absolute;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf?bbmz2l') format('truetype'), url('../fonts/icomoon.woff?bbmz2l') format('woff'), url('../fonts/icomoon.svg?bbmz2l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ico-"],
[class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-bottom;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ico-xxs {
  font-size: 0.60em;
}
.ico-xs {
  font-size: 0.72em;
}
.ico-sm {
  font-size: 0.87em;
}
.ico-1x {
  font-size: 1.1em;
}
.ico-md {
  font-size: 1.22em;
}
.ico-ml {
  font-size: 1.30em;
}
.ico-lg {
  font-size: 1.45em;
}
.ico-l2 {
  font-size: 1.52em;
}
.ico-xl {
  font-size: 1.65em;
}
.ico-xxl {
  font-size: 1.83em;
}
.ico-2x {
  font-size: 2em;
}
.ico-2hx {
  font-size: 2.5em;
}
.ico-3x {
  font-size: 3em;
}
.ico-4x {
  font-size: 4em;
}
.ico-5x {
  font-size: 5em;
}
.ico-6x {
  font-size: 6em;
}
.ico-7x {
  font-size: 7em;
}
.ico-8x {
  font-size: 8em;
}
.ico-9x {
  font-size: 9em;
}
.ico-10x {
  font-size: 10em;
}
.ico-15x {
  font-size: 15em;
}
.ico-20x {
  font-size: 20em;
}
.ico-alignment-align:before {
  content: "\f08a";
}
.ico-alignment-aligned-to:before {
  content: "\f08e";
}
.ico-bug2:before {
  content: "\f091";
}
.ico-markdown:before {
  content: "\f0c9";
}
.ico-milestone:before {
  content: "\f075";
}
.ico-pin:before {
  content: "\f041";
}
.ico-plug:before {
  content: "\f0d4";
}
.ico-pulse:before {
  content: "\f085";
}
.ico-puzzle:before {
  content: "\f0c0";
}
.ico-steps:before {
  content: "\f0c7";
}
.ico-terminal:before {
  content: "\f0c8";
}
.ico-cog2:before {
  content: "\e900";
}
.ico-pin2:before {
  content: "\e901";
}
.ico-target:before {
  content: "\e902";
}
.ico-switch:before {
  content: "\e903";
}
.ico-file:before {
  content: "\e904";
}
.ico-search:before {
  content: "\e905";
}
.ico-target2:before {
  content: "\e906";
}
.ico-bug3:before {
  content: "\e907";
}
.ico-console:before {
  content: "\e908";
}
.ico-target3:before {
  content: "\e909";
}
.ico-target4:before {
  content: "\e90a";
}
.ico-code:before {
  content: "\e90b";
}
.ico-book:before {
  content: "\e90c";
}
.ico-file-empty:before {
  content: "\e90d";
}
.ico-files-empty:before {
  content: "\e90e";
}
.ico-file-text2:before {
  content: "\e90f";
}
.ico-file-zip:before {
  content: "\e910";
}
.ico-location:before {
  content: "\e911";
}
.ico-location2:before {
  content: "\e912";
}
.ico-map:before {
  content: "\e913";
}
.ico-clock:before {
  content: "\e914";
}
.ico-clock2:before {
  content: "\e915";
}
.ico-alarm:before {
  content: "\e916";
}
.ico-stopwatch:before {
  content: "\e917";
}
.ico-display:before {
  content: "\e918";
}
.ico-laptop:before {
  content: "\e919";
}
.ico-mobile:before {
  content: "\e91a";
}
.ico-mobile2:before {
  content: "\e91b";
}
.ico-tablet:before {
  content: "\e91c";
}
.ico-tv:before {
  content: "\e91d";
}
.ico-download:before {
  content: "\e91e";
}
.ico-upload:before {
  content: "\e91f";
}
.ico-database:before {
  content: "\e920";
}
.ico-spinner2:before {
  content: "\e921";
}
.ico-spinner4:before {
  content: "\e922";
}
.ico-spinner6:before {
  content: "\e923";
}
.ico-key:before {
  content: "\e924";
}
.ico-cog:before {
  content: "\e925";
}
.ico-cogs:before {
  content: "\e926";
}
.ico-shield:before {
  content: "\e927";
}
.ico-power-cord:before {
  content: "\e928";
}
.ico-clipboard:before {
  content: "\e929";
}
.ico-eye:before {
  content: "\e92a";
}
.ico-eye-blocked:before {
  content: "\e92b";
}
.ico-bookmark:before {
  content: "\e92c";
}
.ico-bookmarks:before {
  content: "\e92d";
}
.ico-embed:before {
  content: "\e92e";
}
.ico-embed2:before {
  content: "\e92f";
}
.ico-google:before {
  content: "\e930";
}
.ico-google2:before {
  content: "\e931";
}
.ico-google3:before {
  content: "\e932";
}
.ico-github:before {
  content: "\e933";
}
.ico-yahoo:before {
  content: "\e934";
}
.ico-yahoo2:before {
  content: "\e935";
}
.ico-tux:before {
  content: "\e936";
}
.ico-appleinc:before {
  content: "\e937";
}
.ico-android:before {
  content: "\e938";
}
.ico-windows8:before {
  content: "\e939";
}
.ico-hackernews:before {
  content: "\e93a";
}
.ico-stackoverflow:before {
  content: "\e93b";
}
.ico-chrome:before {
  content: "\e93c";
}
.ico-firefox:before {
  content: "\e93d";
}
.ico-IE:before {
  content: "\e93e";
}
.ico-edge:before {
  content: "\e93f";
}
.ico-safari:before {
  content: "\e940";
}
.ico-opera:before {
  content: "\e941";
}
.ico-libreoffice:before {
  content: "\e942";
}
.ico-html-five:before {
  content: "\e943";
}
.ico-html-five2:before {
  content: "\e944";
}
.ico-css3:before {
  content: "\e945";
}
.ico-codepen:before {
  content: "\e946";
}
.ico-star:before {
  content: "\f005";
}
.ico-star-o:before {
  content: "\f006";
}
.ico-download2:before {
  content: "\f019";
}
.ico-chevron-left:before {
  content: "\f053";
}
.ico-chevron-right:before {
  content: "\f054";
}
.ico-expand:before {
  content: "\f065";
}
.ico-compress:before {
  content: "\f066";
}
.ico-chevron-up:before {
  content: "\f077";
}
.ico-chevron-down:before {
  content: "\f078";
}
.ico-key2:before {
  content: "\f084";
}
.ico-github-square:before {
  content: "\f092";
}
.ico-wrench:before {
  content: "\f0ad";
}
.ico-chain:before {
  content: "\f0c1";
}
.ico-link:before {
  content: "\f0c1";
}
.ico-flask:before {
  content: "\f0c3";
}
.ico-h-square:before {
  content: "\f0fd";
}
.ico-angle-double-left:before {
  content: "\f100";
}
.ico-angle-double-right:before {
  content: "\f101";
}
.ico-angle-double-up:before {
  content: "\f102";
}
.ico-angle-double-down:before {
  content: "\f103";
}
.ico-angle-left:before {
  content: "\f104";
}
.ico-angle-right:before {
  content: "\f105";
}
.ico-angle-up:before {
  content: "\f106";
}
.ico-angle-down:before {
  content: "\f107";
}
.ico-github-alt:before {
  content: "\f113";
}
.ico-bug:before {
  content: "\f188";
}
.ico-slack:before {
  content: "\f198";
}
.ico-file-code-o:before {
  content: "\f1c9";
}
.ico-git-square:before {
  content: "\f1d2";
}
.ico-wifi:before {
  content: "\f1eb";
}
.ico-copyright:before {
  content: "\f1f9";
}
.ico-at:before {
  content: "\f1fa";
}
.ico-paint-brush:before {
  content: "\f1fc";
}
.ico-toggle-off:before {
  content: "\f204";
}
.ico-toggle-on:before {
  content: "\f205";
}
.ico-user-secret:before {
  content: "\f21b";
}
.ico-mouse-pointer:before {
  content: "\f245";
}
.ico-sticky-note:before {
  content: "\f249";
}
.ico-map-signs:before {
  content: "\f277";
}
.ico-shopping-basket:before {
  content: "\f291";
}
.ico-hashtag:before {
  content: "\f292";
}
.ico-percent:before {
  content: "\f295";
}
.ico-checkmark:before {
  content: "\e947";
}
.ico-checkmark2:before {
  content: "\e948";
}
.ico-cancel:before {
  content: "\e949";
}
.ico-cancel2:before {
  content: "\e94a";
}
.ico-plus:before {
  content: "\e94b";
}
.ico-plus2:before {
  content: "\e94c";
}
.ico-minus:before {
  content: "\e94d";
}
.ico-minus2:before {
  content: "\e94e";
}
.ico-notice:before {
  content: "\e94f";
}
.ico-notice2:before {
  content: "\e950";
}
.ico-cassette:before {
  content: "\e951";
}
.ico-checkmark3:before {
  content: "\e952";
}
.ico-cancel3:before {
  content: "\e953";
}
.ico-direction:before {
  content: "\e954";
}
.ico-3dglasses:before {
  content: "\e955";
}
.ico-cord:before {
  content: "\e956";
}
.ico-locked:before {
  content: "\e957";
}
.ico-unlocked:before {
  content: "\e958";
}
.ico-stack:before {
  content: "\e959";
}
.ico-stack2:before {
  content: "\e95a";
}
.ico-stack3:before {
  content: "\e95b";
}
.ico-lamp:before {
  content: "\e95c";
}
.ico-lamp2:before {
  content: "\e95d";
}
.ico-rotate:before {
  content: "\e95e";
}
.ico-rotate2:before {
  content: "\e95f";
}
.ico-reply:before {
  content: "\e960";
}
.ico-forward:before {
  content: "\e961";
}
.ico-heart:before {
  content: "\e962";
}
.ico-info:before {
  content: "\e963";
}
/*
Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}
.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
html {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.42857143;
  background-color: #fff !important;
  color: #575757;
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  padding-top: 50px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  outline: 0 none !important;
  font-size: 17px !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
button.btn-block {
  letter-spacing: 0.03em;
  font-size: 19px !important;
}
button.btn {
  border: 0 none;
}
select {
  -webkit-appearance: menulist-button;
  /*background: none !important;*/
  background: #fff !important;
  /*border: 0 none !important;*/
  outline: none !important;
}
a {
  position: relative;
  color: rgba(77, 156, 238, 0.8);
  text-decoration: none;
}
a:hover,
a:focus {
  color: rgba(21, 117, 218, 0.8);
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 14px 0 11px 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #aaafbd;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 24px;
  margin-bottom: 12px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 12px;
  margin-bottom: 12px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 44px;
}
h2,
.h2 {
  font-size: 36px;
}
h3,
.h3 {
  font-size: 29px;
}
h4,
.h4 {
  font-size: 22px;
}
h5,
.h5 {
  font-size: 17px;
}
h6,
.h6 {
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  padding-top: 50px;
  margin-top: -20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: inherit;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.h1 a:hover,
.h2 a:hover,
.h3 a:hover,
.h4 a:hover,
.h5 a:hover,
.h6 a:hover {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0 0 12px;
}
ul,
ol > li > p {
  margin: 5px 0;
}
ul,
ol > li > ul,
ol {
  margin-bottom: 12px !important;
}
td > p {
  margin: 0;
}
div {
  border: 0 none !important;
}
img {
  vertical-align: middle;
}
blockquote {
  padding: 6px 12px;
  font-size: 1em;
}
.container {
  padding: 0 25px;
}
.container-boxed {
  width: 970px !important;
}
.docma.bookmark {
  position: relative;
  text-decoration: none;
}
.docma.bookmark:hover {
  text-decoration: none;
}
.docma.bookmark:hover span.glyphicon {
  opacity: 1;
}
.docma.bookmark span.glyphicon {
  display: inline-block;
  position: absolute;
  font-size: 19px;
  line-height: 19px;
  margin-left: -25px;
  margin-top: 3px;
  opacity: 0.25;
}
.symbol {
  font-size: 21px;
}
.symbol a {
  position: relative;
  text-decoration: none;
}
.symbol a:hover {
  text-decoration: none;
}
.symbol a:hover span.glyphicon {
  opacity: 1;
}
.symbol a span.glyphicon {
  display: inline-block;
  position: absolute;
  font-size: 19px;
  line-height: 19px;
  margin-left: -25px;
  margin-top: 3px;
  opacity: 0.25;
}
code.symbol-name {
  font-weight: bold;
}
code.symbol-name .def-val {
  color: #aaafbd;
  font-weight: normal;
}
span.symbol-sep {
  background-color: transparent;
  color: #aaafbd;
  font-size: 21px;
  padding-left: 5px;
  font-weight: normal;
}
code.symbol-type {
  color: #7e879c;
  font-size: 17px;
  font-weight: normal;
  background-color: transparent;
}
.symbol-meta {
  font-size: 14px !important;
  font-style: italic;
  text-align: right;
  padding-bottom: 0;
  margin-bottom: 0;
}
.symbol-container {
  padding-top: 40px;
  margin-top: -40px;
}
.symbol-container .symbol-heading .symbol {
  padding: 20px 15px 12px 15px;
}
.symbol-container .symbol-definition {
  padding: 5px 15px 12px 15px;
}
.symbol-container .symbol-definition .table td:first-child {
  white-space: nowrap;
}
.symbol-container .symbol-definition .table td:last-child {
  width: auto;
}
.boxed {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.07em;
  color: #fff;
  padding: 3px 4px;
  border-radius: 3px;
  margin: -2px 5px 0 0;
  vertical-align: middle;
  background-color: #d5d8df;
}
.navbar {
  background-color: #f8f8f8;
  border: 0 none;
  -webkit-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
  height: 50px;
}
.navbar .navbar-text {
  color: #292c35;
}
.navbar .nav-left {
  position: relative;
  width: 250px;
  line-height: 50px;
  overflow: hidden;
}
.navbar .nav-left .navbar-brand {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  padding-left: 0;
}
.navbar .nav-left .navbar-brand span {
  display: inline-block;
  letter-spacing: 0.03em;
  margin-top: 2px;
  white-space: nowrap;
  color: #17191e;
}
.navbar .navbar-nav {
  height: 50px;
  margin-left: 35px;
}
.navbar .navbar-nav > li > a {
  color: #374d5a;
  font-weight: normal;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #333;
  background-color: #f0f0f0;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar .navbar-nav > .disabled > a,
.navbar .navbar-nav > .disabled > a:hover,
.navbar .navbar-nav > .disabled > a:focus {
  color: #e1e7ea;
  background-color: transparent;
}
.navbar-toggle {
  position: absolute;
  float: none;
  right: 30px;
  top: 0;
  margin-right: 15px;
  margin-top: 5px;
  padding: 9px 10px 6px 10px;
}
.input-group {
  margin-bottom: 5px;
  white-space: nowrap;
}
.input-group-addon {
  text-align: left !important;
}
.docma-info {
  display: inline-block;
  font-size: 15px;
  font-style: italic;
  letter-spacing: 0.07em;
}
