<!DOCTYPE html>
<html lang="en-US">
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        {% include favicons.html %}
        {% include styles.html %}
    </head>
    <body>

        <div class="page-header">
            <div class="page-logo">
                <img class="logo" src="{{ site.bigLogo }}" />
            </div>
            <div class="page-title">
                <span>{{ site.description }}</span>
            </div>
        </div>

        <div class="side-bg"></div>
        <div class="content">{{ content }}</div>

    </body>
</html>
